@import "tailwindcss";

/* Ẩn thanh cuộn nhưng vẫn cuộn được */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f8efef; /* sáng nhẹ, phù hợp tone #6A0A0A */
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}
