@import "tailwindcss";

/* Ẩn thanh cuộn nhưng vẫn cuộn được */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f8efef; /* sáng nhẹ, phù hợp tone #6A0A0A */
}

